/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nerko+One&display=swap");

body {
  background-color: rgb(50, 50, 50);
  font-family: "Gochi Hand", cursive;
  color: #eff7f6;
}

h1,
h3 {
  color: #99e2b4;
}

.title {
  font-family: "Nerko One", cursive;
  font-size: 8rem;
  margin: 4rem 0;
}

.player-name {
  font-size: 2rem;
  margin: 2.5rem 0;
}

.dice-wrapper {
  width: 264px;
}

.dice {
  background-color: #8d3600;
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
}

.dot {
  width: 64px;
  height: 64px;
  background-color: #fff8dd;
  border-radius: 50%;
  margin: 0.5rem auto;
}

.footer {
  text-align: center;
  margin: 4rem 0;
}
